p {
    font-family: Roboto,arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    background-color: rgb(247, 247, 247);
    margin: 0px;
    padding-top:80px;
    padding-left: 96px;
    padding-right: 24px;
}